:root {
    --logo-accsent: #000000;
    --background-basis: #F5F5F5;
    --primary-background-color: #ffffff;
    --secondary-background-color: #2F303A;
    --primary-text-color: #757575;
    --titel-text-color: #212121;
    --accsent-color: #00FF00;
    --secondary-ac-color: #ffffff;
    --button-color: #F5F4FA;
    --text-link-footer:  #757575;;
    }

    body {
        background-color: var(--secondary-ac-color);
        color: var(--primary-text-color);
    
        font-family: roboto, sans-serif;
        letter-spacing: 0.03em;
    }

    .container {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    h1, h2, h3, p {
        margin: 0;
    }
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
  }
    img {
    display: block;
    max-width: 100%;
}

        /* Наповнення */

/* Шапка */
    .header {
        border-bottom: 1px solid #ECECEC;
    }
    .navcont {
        display: flex;
        justify-content: flex-start;
        align-items: center;    
    }

    .navbox {
        display: flex;
        align-items: center;
    }
    .link.current {
        color: #f3ff08;
        transform: scale(1.3);
    }
/* Лого */
    /* .logo{ */
        /* display: block; */
        /* object-fit: cover;
        object-position: top; */
    .icon{
        width: 100%;
    }
    .thumb{
        height: 90px;
        width: 200px;
        overflow: hidden;
        
    }

    .logo{
        color: var(--accsent-color);
        font-family: raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-decoration: none;
    }
    .logo-footer{
        color: var(--secondary-ac-color);

        font-family: raleway, sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-decoration: none;
    }

    .logo-text{
        color: var(--primary-text-color);
        font-size: 20px;
    }

 /* Навігація */
    .site-nav{
        display: flex;
        min-width: 281px;
        margin: 0;
        padding: 0;
        margin-left: 93px;

        list-style: none;
        letter-spacing: 0.02em;
    }
    .site-nav .item + .item{
        margin-left: 50px;
    }
    
    .site-nav .link {
        display: inline-block;
        padding: 32px 0px;

        color: var(--titel-text-color);
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
    
        text-decoration: none;
    }
    
    .site-nav .link:hover, 
    .site-nav .link:focus {
    color: var(--accsent-color);
    transform: scale(1.3);
    }
    .link-nav .link:active {
    color: var(--accsent-color);
    }

    .site-auth{
        display: flex;
        align-items: center;
        margin: 0;
        margin-left: auto;
        padding: 0;

        list-style: none;
        letter-spacing: 0.02em;
    }
    .site-auth .link {
        display: inline-block;
        padding: 32px 0px;

        color: var(--primary-text-color);
    
        font-weight: 500;
        font-size: 14px;
        line-height: 1.15;
    
        text-decoration: none;
    }
    .site-auth .item + .item{
        margin-left: 50px;
    }
    
    .site-auth .link:hover, 
    .site-auth .link:focus {
        color: var(--accsent-color);
        
    }

/* Основний контент */

/* Герой */
.hero {
    background-color:var(--secondary-background-color);
    background-image: url('../imege/Hero-bg.jpg');
    background-size: cover;
}
.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 20px;

    min-height: 400px;
    overflow: hidden;
    background: transparent;
}
.hero.text{
    margin-top: 90px;
    margin-bottom: 60px;

    color: var(--secondary-ac-color);
    background: transparent;
    text-shadow: #05151ec7 1px 0 10px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;
}
.hero .button {
    
    box-shadow: 0px 1px 7px 7px #0c220c33 inset;
    padding: 10px 20px;
    border: #0f900f;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;

    background-color: var(--accsent-color);
    
    color: var(--secondary-ac-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}
.hero .button:hover,
.hero .button:focus {
    box-shadow: 9px 5px 44px 24px rgba(148, 234, 87, 0.26);
    transform: scale(1.1);
    

    background: radial-gradient(
    at center,
    var(--accsent-color), 75%,
    #0f900f
    
  );
}

/* Кнопки */
    .button {

        background-color: var(--button-color);
        color: var(--titel-text-color);
        cursor: pointer;
    
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0.03em;
        text-shadow: 2px 2px 2px #757575;
    }
    .button:hover,
    .button:focus {
        background-color: var(--accsent-color);
        color: var(--secondary-ac-color);
        cursor:pointer;
    }

/* Наповнення */
    .cover-up {
        visibility: hidden;
    }
    .list{
        list-style: none;
    }
    .team {
        background-color: var(--background-basis);
    }
    .title {
        color: var(--titel-text-color);
    }
    .title.specialty{
        font-size: 36px;
        line-height: 1.17;
    }
    .title.projects{
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
    .title.name-specialty {
        color: var(--titel-text-color);

        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    }
    .title.name {
        color: var(--titel-text-color);

        font-weight: 500;
        font-size: 16px;
        line-height: 1.9;
    }
    .text.name-specialty{
        font-size: 14px;
        line-height: 1.7;
    }
    .post-name {
        font-size: 16px;
        line-height: 1.2;
    }
    .format-projects {
        font-size: 16px;
        line-height: 1.87;
    }
        /* Особливості */

    .list.specialty{
        padding: 0;
    }
    .item-card{
        width: 1160px;
        height: 200px;
        overflow: hidden;
        margin-bottom: 20px;

        position: relative;
    }

    @keyframes magic {
        0% {
            transform: translateX(-1000px);
        }
        100% {
            transform: translateX(1100px);
        }
    }

    @keyframes magic-b {
        0% {
            transform: translateX(1000px);
        }
        100% {
            transform: translateX(-1420px);
        }
    }

   
    .specialty-thumb {
        /* position: relative; */
        width: 1160px;
        display: flex;
        justify-content: start;

        position: absolute;
            top: 0px;
            left: -1100px;
            width: 100%;
            height: 100%;

        overflow: hidden;

        animation: magic 2s forwards 1 ease-out;

        .box {
            width: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            box-shadow: 10px 8px 8px 0px rgba(34, 60, 80, 0.2);
        }
   

        .box-name {
            width: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        .img-box {
            width: 350px;
            border-bottom-right-radius:250px;
            overflow: hidden;
            box-shadow: 10px 8px 8px 0px rgba(34, 60, 80, 0.2);
        }
    }
    
 .specialty-thumb-second {
    width: 1160px;
    display: flex;
    justify-content: end;
    text-align: right;

    position: absolute;
            top: 0px;
            left: 1430px;
            width: 100%;
            height: 100%;

        overflow: hidden;

        animation: magic-b 2s forwards 1 ease-in;

    .box-second {
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        box-shadow: -10px -8px 8px 0px rgba(34, 60, 80, 0.2);
    }
    .img-box-second {
        width: 350px;
        border-top-left-radius: 250px;
        overflow: hidden;
        box-shadow: -10px -8px 8px 0px rgba(34, 60, 80, 0.2)
    }
    .box-name-second {
            width: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
    }
 }

/* Підвал */
    .footer {
        background-color:var(--secondary-background-color) ;
    }
    .address-link{
        list-style: none;
    }
    .address-link .link{
        color: var(--secondary-ac-color);

        font-size: 14px;
        line-height: 1.7;

        text-decoration: none;
    }
    .link.tel,
    .link.mail {
        color: var(--text-link-footer);
    }


    /* Клуб */

    /* рекламний банер */
    .publicity {
        background-color:var(--secondary-background-color);
        background-image: url(/imege/white-paper-texture-background.avif);
        background-size: cover;
    }
    .publicity .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 150px;
    
        min-height: 400px;
        overflow: hidden;
        background: transparent;
    }
    .box-choice {
        width: 250px;
        height: 250px;
        padding: 30px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        font-size: 22px;
        text-shadow: -2px 2px 0px rgba(0, 0, 0, 0.3), -3px 3px 0px rgba(0, 0, 0, 0.3);;

        border-radius: 100%;
        box-shadow: 70px 6px 20px -20px rgba(0, 0, 0, 0.3), 
                    95px 10px 44px 0px rgba(0, 0, 0, 0.3), 
                    inset -65px 8px 44px 4px rgba(0, 0, 0, 0.3);

        /* background-color: #00FF0095; */
        background: radial-gradient(
            100% 100% at 50% 50%,
             rgba(90, 255, 1, 0.41) 40%,
             rgba(19, 107, 3, 0.701) 78%
  );
        color: var(--secondary-ac-color);
        text-align: center;
    }
    .box-choice.selfish {
        /* background-color: #d900ff95; */
        background: radial-gradient(
    113% 106% at 50% 50%,
    rgba(225, 1, 255, 0.232) 40%,
    rgba(113, 7, 179, 1) 78%
    );
    box-shadow: -78px 6px 20px -20px rgba(0, 0, 0, 0.3),
                -95px 10px 44px 0px rgba(0, 0, 0, 0.3), 
                 inset 65px 8px 44px 4px rgba(0, 0, 0, 0.3);
  
    }
    .box-choice .button {
        width: 120px;
        height: 50px;
        border: 1px solid rgba(2, 10, 1, 0.2);
        border-radius: 75px;
        box-shadow: inset 0px 0px 19px 0px rgba(130, 135, 130, 0.79);
        color: var(--secondary-background-color);
        text-shadow: none;
    }


    /* Фільтр бар */
    .filtr-bar .container {
        display: flex;
    }
